@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotolight.woff2"), url("../fonts/Robotolight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2"), url("../fonts/Roboto.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotomedium.woff2"), url("../fonts/Robotomedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2"), url("../fonts/Robotobold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/yesevaone.woff2"), url("../fonts/yesevaone.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0; /* Задаю для всего документа*/
  margin: 0;
}

html {
    box-sizing: border-box; /* Ширина блока с полями */
    width: 100%; 
    height: 100%;
}

body {    
  font-size: 11px; /* Размер шрифта */
  line-height: 16px; /* Размер шрифта */
  font-weight: 400; /* Ширина шрифта */
  color: #ffffff; /* Цвет шрифта */
  background-color: #151313; /* Цвет фона */
}

a {
    text-decoration: none; /* Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию */
}

img {
    max-width: 100%; /* Ширина 100% */
    height: auto; /* Высота авто */
}
  
.slider__button_hidden:not(:focus):not(:active) { /* предполагалась, что это будет скрытая кнопка для пролистывания в блоках по всему сайту */
    position: absolute;
    top: 0; 
    left: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
  }

.section__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
}
  
.section__lead {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #a07b50;
}

.pets {
    background-color: #1f1c1d;
}
  
.breed-features {
    background-color: #1f1c1d;
}
  
.faq {
    background-color: #1f1c1d;
}
  
.reviews {
    background-color: #1f1c1d;
}
